body {
  margin: 0;
  font-family: 'Gemunu Libre', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    60deg,
    rgb(125, 31, 202),
    #2b16ee,
    rgb(233, 67, 205)
  );
}

h1 {
  color: rgb(5, 1, 7);
  text-shadow: 0.2;
}
