.App {
  margin-left: 44.5%;
  margin-top: 5%;
}

.copy {
  margin-bottom: 0;
  color: #f8f5f5;
  background-color: #0e0606;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 20px;
  font-size: 20px;
}

h1 {
  color: #ff0800;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
